<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLog Website</title>
    <link rel="stylesheet" href="/css/fotter.css">
</head>
<body>

   <div class="fotter_container">
    <div class="fotter_logo"><img class="logo_img" src="/asserts/images/Header/Logo.png" alt="Logo"></div>
    <div class="fotter_links"> 
        <ul onClick="window.location.href='/'">Home</ul>
        <ul onClick="window.location.href='/createBlog'">Create Blogs</ul>
    <ul onClick="window.location.href='/readBlog'">All Blogs</ul>
        <a class="tertiary-btn" href="/ContactUs">Contact Us</a></div>
    
    <div class="fotter_copywrite"> <div class="fotter_line"><bl></bl></div> Designed And Devloped by Arpit Shrivastava 💗</div>

   </div>
  
</body>
</html>
