<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landingPage.css">
    <title>Document</title>
</head>

<body>
    <div class="landingPage">

        <div class="main-container">
            <div class="left-container">
                <div class="lc-heading">
                    <span> How Blog Writing will Change the Future </span>
                </div>
                <div class="lc-containt">
                    <span>
                        Blog writing is evolving as a powerful tool for knowledge sharing, personal branding, and global
                        communication. With AI-driven tools, blogs are becoming more interactive, personalized, and
                        accessible to a wider audience.
                    </span>
                </div>
                <div class="lc-button">
                    <button onclick="window.location.href='/createBlog'" class="secondary-btn" href="/postBLog">Post Blog</button>
                    <button onclick="window.location.href='/readBlog'" class="secondary-btn" href="">Read Blog</button>
                </div>
            </div>
            <div class="right-container">
                <div class="right_image_box">
                    <img class="rc-img" src="asserts/images/landing/right-img.png" alt="">
                </div>
            </div>
        </div>
    </div>



</body>

</html>