<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/asserts/images/Header/icon.png" type="image/x-icon">
  <title>Create Blog</title>
</head>
<body>

    <%-include("../components/header.ejs") %>
    <%-include("../bigComponents/postBlog.ejs") %>
    <%-include("../components/fotter.ejs") %>
</body>
</html>